In [31]:
import numpy as np 
import pandas as pd

In [32]:
data = pd.read_csv('/workspaces/Hotel-Management/data/raw/hotels_data.csv')
data.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4

In [33]:
# drop missing values and drop duplicated values from the dataset

def preprocess(data ) -> pd.DataFrame:
    df = data.copy()

    # drop null , nan, values
    df.dropna(inplace=True)

    # drop duplicates 
    df.drop_duplicates(inplace=True)

    return df 

df = preprocess(data)

In [34]:
# checking values dropped succesfully
print(df.isnull().sum())
print(df.duplicated().sum())

Snapshot ID        0
Snapshot Date      0
Checkin Date       0
Days               0
Original Price     0
Discount Price     0
Discount Code      0
Available Rooms    0
Hotel Name         0
Hotel Stars        0
dtype: int64
0

In [35]:
# shape of data
df.shape

(187829, 10)

In [36]:
# to understand datatypes,  columns , basic information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187829 entries, 0 to 187847
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Snapshot ID      187829 non-null  int64
 1   Snapshot Date    187829 non-null  object
 2   Checkin Date     187829 non-null  object
 3   Days             187829 non-null  int64
 4   Original Price   187829 non-null  int64
 5   Discount Price   187829 non-null  int64
 6   Discount Code    187829 non-null  int64
 7   Available Rooms  187829 non-null  int64
 8   Hotel Name       187829 non-null  object
 9   Hotel Stars      187829 non-null  int64
dtypes: int64(7), object(3)
memory usage: 15.8+ MB

In [37]:
# we need to correct data types of the columns 
df['Checkin Date'] = pd.to_datetime(df['Checkin Date'])
df['Snapshot Date'] = pd.to_datetime(df['Snapshot Date'])
df['Original Price'] = pd.to_numeric(df['Original Price'])
df['Discount Price'] = pd.to_numeric(df['Discount Price'])

In [38]:
# sometimes unavailabe rooms refer as -1, NaN we hwve to remove nan
df[df['Available Rooms'] == -1].shape

(101655, 10)

In [54]:
df = df[df['Available Rooms'] != -1]

In [57]:
df.shape

(86174, 10)